<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.authsvr.mapper.UserRoleMapper">

    <select id="getUserRoleByUserId" resultType="com.spring.authsvr.po.UserRole">
        select ur.*,
               role.code roleCode,
               role.name roleName
        from
            user_role ur
            left join role on ur.role_id = role.id
                 where
                     ur.user_id = #{userId}
    </select>
</mapper>