spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: authToken
              uri: lb://authsvr
              predicates:
#jwt
jwt:
